@font-face {
    font-family: 'Unbounded';
    src: url('./assets/fonts/Unbounded-Regular.ttf');
}

@font-face {
    font-family: 'Unbounded-Medium';
    src: url('./assets/fonts/Unbounded-Medium.ttf');
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('./assets/fonts/SpaceGrotesk-Regular.ttf');
}

@font-face {
    font-family: 'Space Grotesk-Medium';
    src: url('./assets/fonts/SpaceGrotesk-Medium.ttf');
}

.App {
    height: 100%;
    background: #010101;
}